<div class="viewpost-container">
    <div id="image-container">
        <div id="post-title">Post Title: {{currentPost.title}}</div><br>
        <div id="post-author">Post Author: {{currentPost.username}}</div><br>
        <div id="post-date">{{currentPost.created}}</div><br>

        <div id="post-desc">{{currentPost.description}}</div><br>

        <label>Post Image:</label><br>
        <div class="post-image">
            <img class="img-fluid" src="/{{currentPost.photopath}}" alt="template image">
        </div>
    </div>

    <div id="comment-container">
        <div id="messages">
            {{#each currentPost.comments}}
            {{> comment this}}
            {{/each}}
        </div>
        <div id="comment-box">
            <textarea id="comment-box-text" placeholder="Comment..."></textarea>
            <button style="font-size:24px" id="comment-box-button"><i class="fas fa-comment-alt"></i></button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
`<div id="message-${data.commentId}">
    <strong class="author-text">@${data.username}</strong>
    <span class="date-posted">${new Date().toLocaleString()}</span>
    <div class="comment-text">${data.comment}</div>
</div>`;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(error => console.log(error));
    }
</script>